@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
html{
    background-color: #212121;
}
body{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
* {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    padding: 0%;
    margin: 0%;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
h1{
    color: #f3f3f3;
}
form {
    height: 755px;
    background-color: #212121;
    padding-top: 175px;
    opacity: 100%;
}
input {
    width: 200px;
    height: 48px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #6D9886;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
#input{
    width: 600px;
    height: 400px;
    background-color: #F6F6F6;
    margin-left: 450px;
    border-radius: 20px;
    opacity: 90%;
    text-align: center;
}

#input h1{
    padding-top: 10px;
    font-size: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 30px;
    color: #212121;
}
#input img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}
#icon1 {
    background-color: #212121;
    border-radius: 40px;
}
#btn-submit{
    margin-top: 25px;
    text-decoration: none;
    background: #212121;
    color: #f3e4b5;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 30px 12px 30px;
}
#btn-submit1{
    margin-top: 25px;
    text-decoration: none;
    background: #212121;
    color: #f3e4b5;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 10px 12px 10px;
}

.data{
    margin-left: 30px;
    text-align: center;
    display: flex;
}
.data p {
    font-size: 30px;
    color: #f3f3f3;
}
.data #tanggal {
    font-size: 15px;
}
.c1 {
    display: flex;
}
#condition {
    margin-left: 10px;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 13px;
    border-radius: 3px;
    text-align: center;
    color: white;
    background-color: #CD104D;
}
#icon {
    width: 50px;
    height: 50px;
}
h3#title-data-gagal {
    color: rgb(180, 4, 4);
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.display-none {
    display: none !important;
}
#loadbackground {
    background-color: #212121;
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    animation: normal 1s linear;
}
#loadbackground.display {
    visibility: visible;
}
#loadinglayer {
    margin: auto;
    position: fixed;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    bottom: 0;
}
#loading {
    margin: auto;
    width: 4rem;
    height: 4rem;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #6D9886;
    border-radius: 100%;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}  
#row1 {
    display: flex;
    width: 650px;
    gap: 50px;
    margin-left: 100px;
}
#row2 {
    display: flex;
    width: 650px;
    gap: 50px;
    margin-left: 100px;

}

.chart{
    display: none;
}
#closeBtn{
    display: none;
    margin-left: 730px;
    text-decoration: none;
    background: #f3e4b5;
    color: #212121;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
}
#data1{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 600px;
    height: 400px;
    background-color: #F6F6F6;
    margin-left: 450px;
    border-radius: 20px;
    opacity: 90%;
    text-align: center;
    display: none;
}
.data2{
    display: flex;
}
.dt {
    text-align: center;
    margin-top: 60px;
    margin-left: 140px;
}
.dt p {
    margin-bottom: 10px;
}
.condition1{
    font-size: 15px;
}
.kota1 {
    font-size: 40px;
}
.tm{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 50px; 
    background-color: #212121;
    color: #f3e4b5;
    border-radius: 5px;
}
.dt1 {
    margin-left: 80px;
    margin-top: 90px;
}
.dt1 p{
    background-color: #6D9886;
    border-radius: 5px;
}
#icon1 {
    width: 100px;
    height: 100px;
}
#closeBtn1{
    margin-top: 25px;
    text-decoration: none;
    background: #212121;
    color: #f3e4b5;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 30px 12px 30px;
}